<% @comments.each do |comment| %>
<div class="wrap-comment">
  <span class="wrap-thumb">
    <%= image_tag get_avatar_url(comment.user_avatar, comment.user_id), class: "image-comment"%>
  </span>
  <span class="user"><%= comment.user_name %></span>
  <span class="rated">
    <% comment.rate.times do %>
      <i class="fa fa-star active"></i>
    <% end %>
    <% (Settings.stars_number_rate - comment.rate).times do %>
      <i class="fa fa-star"></i>
    <% end %>
  </span>
  <p class="comment-content"><%= comment.content %></p>
</div>
<% end %>
