default: &default
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: username
  password: password
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: store_management

test:
  <<: *default
  database: store_management_test

production:
  <<: *default
  database: store_management_production
