<div class="search-area">
  <form action="<%= search_path %>" class="form" method="get">
    <div class="form-group">
      <input type="text" name="keyword" class="form-control" placeholder="<%= t "home_page.Enter_Keyword" %>">
      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
  </form>
</div>
<div class="cate-title">
  <span><%= t "home_page.cate_title" %></span>
</div>
<div class="cate-list">
  <% @categories.each do |cate| %>
    <div class="btn">
      <%= link_to cate.name, search_by_cate_path(cate.id) %>
    </div>
  <% end %>
</div>
