<div class="row body-home-page">
  <div class="col-md-4">
    <%= render "homes/cates" %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <%= render "homes/stores" %>
  </div>
  <div class="col-md-1"></div>
</div>
