@import 'colors';

body .navbar {
  height: 60px;
  border-radius: 0;
}
.body-home-page {
  margin: 10px 20px !important;
}
.cate-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.cate-list {
  display: inline;
  div {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 20px;
    border: solid 1px;
    margin: 5px;
    a {
      text-decoration: none;
      background-color: transparent;
    }
  }
}
.store-home-item {
  display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $bg-color;
  color: white;
  text-align: center;
}
.row {
  margin: 0 !important;
}

.search-area {
  .form-group {
    display: flex;
    input[type="text"] {
      flex: 1;
      flex-basis: 80%;
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }
    button {
      margin-left: 5px;
      flex: 1;
      flex-basis: 20%;
      width: 100%;
    }
  }
}

.comment-form {
  margin-bottom: 50px;
}

.rating, .rated {
  .fa-star {
    font-size: 16px;
    &:hover, &.active {
      color: #f17f0a;
      cursor: pointer;
    }
  }
}

.wrap-comment {
  span.user {
    font-size: 18px;
    color: $color-blue;
  }
  .image-comment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.fa-order {
  border: none;
  appearance: none;
  background: transparent;
}
