<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t "product.title" %>
      <small><%= t "product.add" %></small>
    </h1>
  </div>
  <div class="col-lg-7">
    <%= render "form" %>
  </div>
</div>
